<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Style link -->
    <link rel="stylesheet" href="styles/products.css">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles/products.css">
    <style>
        @media screen and (min-width:992px){
.nav-item {
line-height:80px;
}
}
  </style>
</head>
<body>
        <!-- New header -->
        <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-danger" id="headerNav">
            <div class="container-fluid">
              <a class="navbar-brand d-block d-lg-none" href="#">
                <img src="assets/new-logo.png" height="80" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
           
              <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto ">
                  <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Products</a>
                  </li>
                  <li class="nav-item d-none d-lg-block">
                    <a class="nav-link mx-2" href="/home">
                      <img src="assets/new-logo.png" height="80" />
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Pricing</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Company
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Blog</a></li>
                      <li><a class="dropdown-item" href="#">About Us</a></li>
                      <li><a class="dropdown-item" href="#">Contact us</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    <h1>Products</h1>
    <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
              alt="Hollywood Sign on The Hill" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
              alt="Palm Springs Road" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
              alt="Los Angeles Skyscrapers" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top"
              alt="Skyscrapers" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>
      </div> -->


      <!-- New feature -->
      <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/81gK08T6tYL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
      
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">asus</a>
              </div>
              <div class="card-body">
               
                <h5 class="card-title">
                  <a target="_blank" href="#">ASUS TUF FX505DT Gaming Laptop- 15.6", 120Hz Full HD, AMD Ryzen 5 R5-3550H Processor, GeForce GTX 1650 Graphics, 8GB DDR4, 256GB PCIe SSD, RGB Keyboard, Windows 10 64-bit - FX505DT-AH51</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>

              </div>
            </div>
          </div>
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/71wF7YDIQkL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
      
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">razer</a>
              </div>
              <div class="card-body">
            
                <h5 class="card-title">
                  <a target="_blank" href="#">Razer Blade 15 Base Gaming Laptop 2020: Intel Core i7-10750H 6-Core, NVIDIA GeForce GTX 1660 Ti, 15.6" FHD 1080p 120Hz, 16GB RAM, 256GB SSD, CNC Aluminum, Chroma RGB Lighting, Black</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>
              </div>
            </div>
          </div>
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/81w+3k4U8PL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
      
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">lenovo</a>
              </div>
              <div class="card-body">
            
                <h5 class="card-title">
                  <a target="_blank" href="#">Lenovo Legion 5 Gaming Laptop, 15.6" FHD (1920x1080) IPS Screen, AMD Ryzen 7 4800H Processor, 16GB DDR4, 512GB SSD, NVIDIA GTX 1660Ti, Windows 10, 82B1000AUS, Phantom Black</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>
              </div>
            </div>
          </div>
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/61Ze2wc9nyS._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
              <!-- <div class="label-top shadow-sm">Asus Rog</div>  -->
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">msi</a>
              </div>
              <div class="card-body">
                
                <h5 class="card-title">
                  <a target="_blank" href="#">MSI GL66 Gaming Laptop: 15.6" 144Hz FHD 1080p Display, Intel Core i7-11800H, NVIDIA GeForce RTX 3070, 16GB, 512GB SSD, Win10, Black (11UGK-001)</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- new row -->
      <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/81gK08T6tYL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
      
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">asus</a>
              </div>
              <div class="card-body">
               
                <h5 class="card-title">
                  <a target="_blank" href="#">ASUS TUF FX505DT Gaming Laptop- 15.6", 120Hz Full HD, AMD Ryzen 5 R5-3550H Processor, GeForce GTX 1650 Graphics, 8GB DDR4, 256GB PCIe SSD, RGB Keyboard, Windows 10 64-bit - FX505DT-AH51</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>

              </div>
            </div>
          </div>
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/71wF7YDIQkL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
      
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">razer</a>
              </div>
              <div class="card-body">
            
                <h5 class="card-title">
                  <a target="_blank" href="#">Razer Blade 15 Base Gaming Laptop 2020: Intel Core i7-10750H 6-Core, NVIDIA GeForce GTX 1660 Ti, 15.6" FHD 1080p 120Hz, 16GB RAM, 256GB SSD, CNC Aluminum, Chroma RGB Lighting, Black</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>
              </div>
            </div>
          </div>
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/81w+3k4U8PL._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
      
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">lenovo</a>
              </div>
              <div class="card-body">
            
                <h5 class="card-title">
                  <a target="_blank" href="#">Lenovo Legion 5 Gaming Laptop, 15.6" FHD (1920x1080) IPS Screen, AMD Ryzen 7 4800H Processor, 16GB DDR4, 512GB SSD, NVIDIA GTX 1660Ti, Windows 10, 82B1000AUS, Phantom Black</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>
              </div>
            </div>
          </div>
          <div class="col hp">
            <div class="card h-100 shadow-sm">
              <a href="#">
                <img src="https://m.media-amazon.com/images/I/61Ze2wc9nyS._AC_SL1500_.jpg" class="card-img-top" alt="product.title" />
              </a>
              <!-- <div class="label-top shadow-sm">Asus Rog</div>  -->
              <div class="label-top shadow-sm">
                <a class="text-white" href="#">msi</a>
              </div>
              <div class="card-body">
                
                <h5 class="card-title">
                  <a target="_blank" href="#">MSI GL66 Gaming Laptop: 15.6" 144Hz FHD 1080p Display, Intel Core i7-11800H, NVIDIA GeForce RTX 3070, 16GB, 512GB SSD, Win10, Black (11UGK-001)</a>
                </h5>
      
                <div class="d-grid gap-2 my-4">
      
                  <a href="#" class="btn btn-warning bold-btn">add to cart</a>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>